<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layout :: head}">
</div>
<body>
    <div th:replace="~{layout :: header}">
    </div>
    
    <div class="container">
        <div id="produtos" class="tab-content active">
            <div class="section-title">
                <h2 th:text="${pageTitle}"></h2>
                <a th:href="@{/categories/create}" class="add-button">
                    <img th:src="@{/images/ion-icons/svg/create-outline.svg}" alt="Adicionar">
                </a>
            </div>
            
            <div>
                <p>
                    <b>Nome:</b>&nbsp;<span th:text="${category.name}"></span>
                </p>
                <p>
                    <b>Descrição:</b>&nbsp;<span th:text="${category.description}"></span>
                </p>
                <p>
                    <b>Ativo:</b>&nbsp;<span th:text="${category.active} ? 'Sim' : 'Não'"></span>
                </p>
            </div>
        </div>
    </div>

    <div th:replace="~{layout :: footer}">
    </div>
</body>
</html>