<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layout :: head}">
</div>
<body>
    <div th:replace="~{layout :: header}">
    </div>
    
    <div class="container">
        <div id="users" class="tab-content active">
            <div class="section-title">
                <h2 th:text="${pageTitle}"></h2>
                <div>
                    <a class="button" th:href="@{/users/edit/{id}(id=${user.id})}">
                        <img th:src="@{/images/ion-icons/svg/create-outline.svg}" alt="Editar">
                    </a>
                    <form style="display: inline;" th:action="@{/users/delete/{id}(id=${user.id})}" method="post" 
                          onsubmit="return confirm('Tem certeza que deseja remover este usuário?')">
                        <button type="submit" class="button" style="border: none; background: none; padding: 0;">
                            <img th:src="@{/images/ion-icons/svg/trash-outline.svg}" alt="Remover">
                        </button>
                    </form>
                </div>
            </div>
            
            <!-- Display flash messages -->
            <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
            <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
            
            <div>
                <p>
                    <b>Nome:</b>&nbsp;<span th:text="${user.name}"></span>
                </p>
                <p>
                    <b>Email:</b>&nbsp;<span th:text="${user.email}"></span>
                </p>
                <p>
                    <b>Permissões:</b>&nbsp;
                    <span th:if="${user.role.name() == 'USER'}">Usuário</span>
                    <span th:if="${user.role.name() == 'ADMIN'}">Administrador</span>
                    <span th:if="${user.role.name() == 'MANAGER'}">Gerenciador</span>
                </p>
                <p>
                    <b>Ativo:</b>&nbsp;<span th:text="${user.active} ? 'Sim' : 'Não'"></span>
                </p>
            </div>
        </div>
    </div>

    <div th:replace="~{layout :: footer}">
    </div>
    
    <div th:replace="~{common/modal :: modal-manager}">
    </div>

    <div th:replace="~{layout :: scripts}">
    </div>
    
</body>
</html>