<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layout :: head}">
</div>
<body>
    <div th:replace="~{layout :: header}">
    </div>
    
    <div class="container">
        <div id="produtos" class="tab-content active">
            <div class="section-title">
                <h2 th:text="${pageTitle}"></h2>
                <div>
                    <a class="button" th:href="@{/products/edit/{id}(id=${product.id})}">
                        <img th:src="@{/images/ion-icons/svg/create-outline.svg}" alt="Editar">
                    </a>
                    <form th:if="${product.active}" style="display: inline;" th:action="@{/products/delete/{id}(id=${product.id})}" method="post" 
                          onsubmit="return confirm('Tem certeza que deseja desabilitar este produto?')">
                        <button type="submit" class="button" style="border: none; background: none; padding: 0;">
                            <img th:src="@{/images/ion-icons/svg/trash-outline.svg}" alt="Desabilitar">
                        </button>
                    </form>
                    <form th:if="${!product.active}" style="display: inline;" th:action="@{/products/activate/{id}(id=${product.id})}" method="post" 
                          onsubmit="return confirm('Tem certeza que deseja ativar este produto?')">
                        <button type="submit" class="button" style="border: none; background: none; padding: 0;">
                            <img th:src="@{/images/ion-icons/svg/checkmark-circle-outline.svg}" alt="Ativar">
                        </button>
                    </form>
                </div>
            </div>
            
            <!-- Display flash messages -->
            <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
            <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
            
            <div>
                <p>
                    <b>Nome:</b>&nbsp;<span th:text="${product.name}"></span>
                </p>
                <p>
                    <b>Descrição:</b>&nbsp;<span th:text="${product.description}"></span>
                </p>
                <p>
                    <b>Preço:</b>&nbsp;<span th:text="${product.priceFormatted}"></span>
                </p>
                <p>
                    <b>Estoque:</b>&nbsp;<span th:text="${product.stock}"></span>
                </p>
                <p>
                    <b>Ativo:</b>&nbsp;<span th:text="${product.active} ? 'Sim' : 'Não'"></span>
                </p>
            </div>
        </div>
    </div>

    <div th:replace="~{layout :: footer}">
    </div>
    
    <div th:replace="~{common/modal :: modal-manager}">
    </div>

    <div th:replace="~{layout :: scripts}">
    </div>
    
</body>
</html>